@charset "UTF-8";

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #151515 url('../images/bg.png') no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Raleway Hiragino Kaku Gthic ProN", Meiryo, sans-serif;
}

.header {
  padding: 170px 30px 80px;
}

.sitetitle-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}

.sitetitle-sub::before,
.sitetitle-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}

.sitetitle {
  margin: 50px 0 40px;
  font-size: 8.6rem;
}

.sitedescription {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}

.btn {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn-up {
  background-color: #f1b400;
}

.btn-wrapper .btn {
  margin: 10px;
}

.sec1 {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
  font-weight: 500;
}

.heading::before,
.heading::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}

.heading::after {
  bottom: 5px;
}

.sec1-text {
  margin: 30px 0;
  line-height: 2.3;
}

.sec2 {
  background-color: #383634;
  padding: 80px 0;
}

.history-wrapper {
  display: table;
  width: 100%;  
  margin-top: 60px;
  table-layout: fixed;
}

.history-box {
  display: table-cell;
  position: relative;
}

.history-img {
  display: block;
  width: 100%;
  margin: 0 0 60%;
}

.history-box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  transform: scaleY(-1);
}

.history-text-back {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 10;
}

.history-text-table {
  display: table;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.history-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.8rem;
  line-height: 2;
}

.history-text .btn {
  width: 60%;
  margin-top: 20px;
  padding: 3px;
}

.btn-ghost {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 522, 0.15);
}

.history-box.hi1::after {
  background-image: url('../images/１日目.jpeg');
}

.history-box.hi2::after {
  background-image: url('../images/二日目.jpeg');
}

.history-box.hi3::after {
  background-image: url('../images/リゾバ.jpeg');
}

.history-box.hi4::after {
  background-image: url('../images/京都.jpeg');
}

.myname {
  margin: 40px 0 5px;
  padding: 6px 40px;
  font-size: 3rem;
  display: inline-block;
  border-bottom: 1px solid rgba(138, 138, 138, 0.5);
  letter-spacing: 1px;
}

.myname-en {
  color: rgba(138, 138, 138, 0.5);
  letter-spacing: 2px;
}

.sec3 {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
}

.gallery-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}

.gallery-box {
  display: table-cell;
  padding-top: 30px;
  padding-bottom: 30px;
}

.icon {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 4px solid;
  line-height: 142px;
  font-size: 8rem;
  color: #f1b400;
  border-radius: 50%;
}

.gallery-title {
  margin: 0 20px 20px;
  font-size: 2rem;
}

.gallery-title {
  margin: 0 20px;
  line-height: 2;
}

.g2 {
  border-left: 1px solid rgba(138, 138, 138, 0.5);
  border-right: 1px solid rgba(138, 138, 138, 0.5);
}

.gallery-box:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.footer {
  padding: 12px 0;
  font-size: 1.3rem;
  opacity: 0.8;
}
